:root {
  --color-button: #FCC032;
  --color-dark: #000000;
  --color-light: #FFFFFF;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h1.form-title {
  text-align: center;
  font-weight: 500;
  color: #2e2e2e;
  font-size: 40px;
}

a {
  color: var(--color-dark);
  text-decoration: none;
 }

/* Скрываем scrollbar для Chrome, Safari и Opera */
.form-container::-webkit-scrollbar {
  display: none;
}
 
/* Скрываем scrollbar для IE, Edge и Firefox */
.form-container {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

.content {
  background: url('../images/login_registration_bg.jpg') center/cover no-repeat var(--color-dark);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-container {
  overflow: auto;
  max-height: 100vh;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 55px 100px;
  row-gap: 40px;
  margin: 40px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.form-input {
  width: 100%;
  height: 2.4em;
  border: 1px solid var(--color-dark);
  border-radius: 30px;
  padding-inline: 20px;
}

.password-wrapper .form-input {
  padding-right: 45px;
}

.form-input::placeholder {
  color: var(--color-dark);
  text-align: center;
}

.password-wrapper .form-input::placeholder {
  padding-left: 25px;
}

.field {
  position: relative;
  width: 400px;
}

.show-hide-password {
  position: absolute;
  right: 5px;
  top: 0;
  width: 30px;
  height: 2.4em;
  margin-right: 5px;
  background: url('../icons/opened_eye.svg') center/70% no-repeat;
}

.to-hide {
  background: url('../icons/closed_eye.svg') center/70% no-repeat;
}

.display-none {
  display: none;
}

.field-errors {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
  margin-top: 0.5em;
  font-size: 0.8em;
  color: red;
  line-height: 1.1;
}

.field-errors:empty {
  display: none;
}

.form-errors {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
  font-size: 0.8em;
  background-color: rgb(255, 195, 195);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-block: -15px;
  color: red;
  line-height: 1.1;
}

.form-errors:empty {
  display: none;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 2.4em;
  padding-inline: 30px;
  background-color: var(--color-button);
  border: none;
  border-radius: 20px;
  transition-duration: 0.2s;
}

.button.gray {
  background-color: #c9c9c9;
}

@media (hover: hover) {
  .button:hover {
    background-color: #ff8400;
  }
}

@media (hover: none) {
  .button:active {
    background-color: #ff8400;
  }
}



@media (max-width: 670px) {
  .form-wrapper {
    padding-inline: 20px;
  }

  body {
    font-size: 16px;
  }

  .field {
    width: 300px;
  }
  
  .form-input {
    padding-inline: 15px;
  }
}