:root {
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-light-grey: #F5F5F5;
  --color-dark-grey: #A8A8A8;
}
  
main,
dialog {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-dark);
  background-color: var(--color-light);
  line-height: 1.2;
}

.profile-header {
  background-image: linear-gradient(#7dc58a 21.5%, #1e4a34 75%);
  margin-bottom: 48px;
}

.container {
  max-width: 2200px;
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 36px;
  column-gap: 90px;
  margin-inline: auto;
}

.user-avatar {
  clip-path: circle(50%);
  width: 149px;
  aspect-ratio: 1;
}

.user-name {
  color: var(--color-light);
  font-size: 36px;
  font-weight: 700;
  margin-right: auto;
}

.profile-actions-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: end;
}

.button {
  color: var(--color-light);
  font-weight: 700;
  background-color: rgba(89, 129, 106, 0.8);
  border: 1px solid rgba(151, 176, 162, 0.9);
  border-radius: 10px;
  width: 196px;
  height: 44px;
  white-space: nowrap;
  transition-duration: 0.2s;
}

@media (hover: hover) {
  .button:hover {
    background-color: rgba(146, 181, 161, 0.8);
  }
}

@media (hover: none) {
  .button:active {
    background-color: rgba(146, 181, 161, 0.8);
  }
}

.profile-body {
  max-width: 2200px;
  padding-inline: 180px;
  position: relative;
  margin-bottom: 53px;
  margin-inline: auto;
}

.profile-body-title {
  text-align: center;
  margin-bottom: 53px;
  font-size: 32px;
}

.create-card-button {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  position: absolute;
  top: 0;
  margin-right: auto;
}

.text-centered {
  text-align: center;
  font-weight: 400;
  padding-block: 60px;
}

.mentor-card {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  padding: 20px 33px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--color-dark-grey);
  background-color: #f9f9f9;
}

.mentor-card:not(:last-child) {
  margin-bottom: 53px;
}

.card-owner {
  display: flex;
  align-items: center;
  column-gap: 26px;
  color: var(--color-dark);
}

.card-user-avatar {
  clip-path: circle(50%);
}

.card-title{
  font-weight: 500;
  font-size: 20px;
}

.card-short-description {
  display: -webkit-box;
  line-clamp: 3;   
  -webkit-line-clamp: 3;      
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-experience,
.card-short-description,
.show-full-card-button {
  font-size: 16px;
}

.work-experience {
  color: var(--color-dark);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: var(--color-dark);
}

.card-price {
  border: 1px solid #051ADA;
  border-radius: 10px;
  padding: 10px;
}

.show-full-card-button {
  transition-duration: 0.2s;
}

@media (hover: hover) {
  .show-full-card-button:hover {
    color: #ff8400;
  }
}

@media (hover: none) {
  .show-full-card-button:active {
    color: #ff8400;
  }
}

.card-actions-wrapper {
  position: absolute;
  top: 55px;
  right: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.transparent-button {
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  width: 141px;
  padding-block: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition-duration: 0.2s;
}

@media (hover: hover) {
  .transparent-button:hover {
    background: #ff8400;
  }
}

@media (hover: none) {
  .transparent-button:active {
    background: #ff8400;
  }
}

dialog {
  border-radius: 20px;
  border: none;
  padding: 25px 45px;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffd3bb 100%);
  outline: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.dialog-title {
  font-weight: 700;
  text-align: center;
}

.avatar {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  position: relative;
}

.avatar-before::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 77px;
  aspect-ratio: 1;
  background: url('../icons/camera.svg') center/100% no-repeat;
  filter: drop-shadow(4px 4px 10px rgb(0, 0, 0));
}

.dialog-user-avatar {
  border-radius: 50%;
  height: 149px;
  aspect-ratio: 1;
  border: 5px solid var(--color-light);
}

.avatar-actions {
  position: absolute;
  top: 105%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  filter: drop-shadow(4px 4px 10px rgb(153, 153, 153));
}

.display-none {
  display: none;
}

input#avatar {
  display: none;
}

.avatar-actions-button {
  border: none;
  background-color: var(--color-light);
  text-align: start;
  padding: 8px 18px;
  padding-left: 28px;
}

.change-avatar-button::before {
  content: '';
  width: 17px;
  aspect-ratio: 1;
  position: absolute;
  translate: calc(-100% - 4px);
  background: url('../icons/pencil.svg') 0 0/contain no-repeat;
}

.delete-avatar-button::before {
  content: '';
  width: 17px;
  aspect-ratio: 1;
  position: absolute;
  translate: calc(-100% - 4px);
  background: url('../icons/bin.svg') 0 0/contain no-repeat;
}

.avatar-actions :first-child {
  border-radius: 15px 15px 0 0;
}

.avatar-actions :last-child {
  border-radius: 0 0 15px 15px;
}

.dialog-form {
  display: flex;
  flex-direction: column;
}

.modify-user-info-window .dialog-form {
  margin-block: 17px;
}

.dialog-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.modify-user-info-window .dialog-label:not(:first-child) {
  margin-top: 15px;
}

.dialog-input {
  border: 1px solid var(--color-dark);
  border-radius: 30px;
  outline: none;
  padding-inline: 10px;
  font-size: 16px;
  font-weight: 400;
  padding-block: 5px;
  width: 315px;
  height: 31px;
}

.dialog-input[type="password"] {
  padding-right: 35px;
}

.dialog-actions-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
}

.dialog-button {
  color: var(--color-light);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 108px;
  text-align: center;
  background-image: linear-gradient(90deg, #01c7fc 0%, #00a1d8 50%, #0056d6 100%);
  outline: none;
}

.modify-password-window .dialog-form {
  margin-block: 27px 100px;
}

.password-input-wrapper {
  position: relative;
}

.modify-password-window .dialog-label:not(:first-child) {
  margin-top: 25px;
}

.show-hide-password {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 31px;
  margin-right: 5px;
  background: url('../icons/opened_eye.svg') center/70% no-repeat;
}

.to-hide {
  background: url('../icons/closed_eye.svg') center/70% no-repeat;
}

.field-errors {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 5px;
  font-size: 14px;
  color: red;
  line-height: 1.1;
}

.field-errors:empty {
  display: none;
}

.form-errors {
  margin-top: 15px;
  font-size: 14px;
  background-color: rgb(255, 195, 195);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  color: red;
  line-height: 1.1;
}

.form-errors:empty {
  display: none;
}

.dialog-text {
  font-weight: 400;
  text-align: center;
}

.deleting-confirmation-window .dialog-actions-wrapper {
  padding-inline: 20px;
}

.showing-error-window .dialog-button,
.showing-success-window .dialog-button {
  margin-left: auto;
}






@media (hover: hover) {
  .dialog-button:hover {
    background-image: linear-gradient(90deg, #0056D6 0%, #00A1D8 50%, #01C7FC 100%);
  }

  .avatar-actions-button:hover {
    background-color: rgb(215, 215, 215);
  }
}

@media (hover: none) {
  .dialog-button:active {
    background-image: linear-gradient(90deg, #0056D6 0%, #00A1D8 50%, #01C7FC 100%);
  }

  .avatar-actions-button:active {
    background-color: rgb(215, 215, 215);
  }
}


@media (max-width: 1300px) {
  .container {
    column-gap: 30px;
    padding-inline: 50px;
  }

  .profile-body {
    padding-inline: 50px;
  }
}

@media (max-width: 1000px) {
  .user-avatar {
    width: 100px;
  }
  
  .user-name,
  .profile-body-title {
    font-size: 26px;
  }
}

@media (max-width: 670px) {
  .profile-header {
    margin-bottom: 30px;
  }
  
  .container {
    column-gap: 15px;
    padding-inline: 10px;
  }
  
  .user-avatar {
    width: 70px;
  }

  .user-name {
    font-size: 20px;
  }
  
  .button {
    font-size: 16px;
    padding: 5px 10px;
    height: fit-content;
    width: fit-content;
  }

  .profile-body {
    padding-inline: 10px;
  }

  .profile-body-title {
    margin-bottom: 20px;
  }

  .create-card-button {
    position: static;
    margin-bottom: 20px;
  }

  .mentor-card:not(:last-child) {
    margin-bottom: 30px;
  }

  .card-user-avatar {
    width: 50px;
    height: 50px;
  }

  .card-price {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .container {
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .user-name {
    font-size: 16px;
  }

  .profile-actions-wrapper {
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
    width: 100%;
    row-gap: 15px;
  }

  .profile-body-title {
    font-size: 20px;
  }

  .mentor-card {
    row-gap: 10px;
    padding: 10px 15px;
  }
  

  .card-owner {
    column-gap: 10px;
  }

  .card-user-name {
    font-size: 16px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-actions-wrapper {
    margin-top: 20px;
    position: static;
    flex-direction: row;
    justify-content: space-between;
  }

  .modify-user-info-window,
  .modify-password-window {
    padding-inline: 20px;
  }

  .dialog-input {
    width: 100%;
  }
  
  .deleting-confirmation-window {
    padding-inline: 15px;
  }

  .deleting-confirmation-window .dialog-actions-wrapper {
    padding-inline: 0;
  }
}